name: Mirror to GitVerse

on:
  push:
    branches: [ main, master ]
    tags: [ '*' ]
  release:
    types: [published, edited]
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0  # Важно! Полная история
        fetch-tags: true
    
    - name: Push to GitVerse
      run: |
        git remote add gitverse https://${{ secrets.GITVERSE_TOKEN }}@gitverse.ru/aabogatkina/study_2025-2026_net-admin.git
        git push --mirror gitverse
